.profileImage{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.card-image {
    height: 250px;
}
.modal_self_image{
    min-height: 300px;
    height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}